<!--
  Created by CPL.
  User: Carlos
  Date: 04/06/2025
  Time: 12:50
-->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ES-es">
<head th:replace="~{fragmentos/biblioteca :: head}"></head>
<body>
	<!--
	       Esta distribución se propone por defecto para facilitar lo expuesto en
	       https://www.youtube.com/watch?v=LQ3_vb8xqqU
	    -->
	<div class="container">
		<h1 th:text="${titulo}">Vista de Lista</h1>
		
		<header>
		
		</header>
		<main>
			<div th:replace="~{fragmentos/biblioteca :: mensajesUsuario}"></div>
			<table class="table table-striped table-hover table-bordered align-middle">
				<tr>
					<!-- Esta columna debe mostrarse SI y SOLO SI la entidad a visualizar tiene datos extendidos -->
					<th th:if="${filas[0].containsKey('datosExtendidos')}"></th>
					<th th:each="c : ${cabeceras}" th:text="${c}"></th>
					<!-- Añadimos la columnas para los iconos de acción -->
					<th colspan="2">Acciones</th>
				</tr>
				<th:block th:each="fila,iStat : ${filas}">
					<tr >
						<td th:if="${fila.containsKey('datosExtendidos')}"><i class="bi bi-plus-circle-dotted" data-bs-toggle="collapse" th:attr="data-bs-target='#datosFila' + ${iStat.index}"></i></td>
						<td th:each="campo : ${fila}" th:text="${campo.value}" th:unless="${campo.key eq 'datosExtendidos'}"></td>
						
						<!-- icono de edición> -->
						<td><a th:href="'/' + ${rutaEntidad} + '/' + ${fila.get('id')}"><i class="bi bi-pencil-square"></i></a></td>
						<!-- icono de borrado -->
						<td>
							<a data-bs-toggle="modal" data-bs-target="#modalBorrado"
							   data-th-attr="data-id=${fila.get('id')},
						       data-apellidos=${fila.get('apellidos')}">
								<i class="bi bi-trash"></i>
							</a>
						</td>
					</tr>
					<tr class="collapse" th:if="${fila.containsKey('datosExtendidos')}"  th:id="'datosFila' + ${iStat.index}">
							<!--
								Esta celda debe contener la tabla con los datos extendidos.
								Estos datos debe recibirse en un parámetro independiente para poder procesarlos como en
								la tabla principal.
								Hay que recordar que esta vista es general, por lo que en tiempo de diseño no se sabe
								qué datos se van a recibir
							-->
						<td th:colspan="${#lists.size(cabeceras) + 3}" class="p-0" >
							<ul>
								<li th:each="emp : ${fila.get('datosExtendidos')}" th:text="${emp}"></li>
							</ul>
						</td>
					</tr>
				</th:block>
			</table>
			<!-- modal de confirmación de borrado -->
			<div class="modal fade" id="modalBorrado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="tituloModal">Confirmar borrado</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							¿Estás seguro de borrar este empleado?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
							<a type="button" class="btn btn-danger">Borrar</a>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer>
		
		</footer>
	</div>
	
	<!-- JavaScript de Bootstrap, */-->
	<th:block th:replace="~{fragmentos/biblioteca :: scriptsBootstrap}"></th:block>
	
	<th:block th:replace="~{fragmentos/biblioteca :: scriptsVarios}"></th:block>
	
	<script th:inline="javascript">
		/*[- Estas funciones se ejecutan una vez que se carga el contenido. -]*/
		document.addEventListener('DOMContentLoaded', () => {
			/* Funciones de inicio propias de la vista */
			detectarMensajeAlerta();
		});
		
		const modalBorrado = document.getElementById('modalBorrado')
		modalBorrado.addEventListener('show.bs.modal', evento => {
			// obtenemos el botón que ha disparado el modal
			const btn = evento.relatedTarget;
			// extraemos los datos a presentar en el modal
			const id = btn.getAttribute('data-id');
			const apellidos = btn.getAttribute('data-apellidos');
			// colocamos los datos dentro del modal
			const tituloModal = document.getElementById('tituloModal');
			const cuerpoModal = document.querySelector('.modal-body');
			const btnBorrar = document.querySelector('a.btn-danger');
			tituloModal.textContent = 'Confirmar borrado del empleado ' + id;
			cuerpoModal.textContent = '¿Seguro que desea borrar al empleado ' + apellidos;
			btnBorrar.href = '/empleados/borrar/' + id;
		})
	</script>
	
	
</body>
</html>